<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--Mongo source account
    old staging account    -->

    <add key="monitoredUri" value="https://fabianm-rtlnl-cdb.documents.azure.com:443" />
    <add key="monitoredSecretKey" value="i5alC8hrTwTAop7Xxi02ErH4v2Zd0uEM3i0ovh5iJrjMGSqMiraZayjfRoO8fbTdYZYp3CyC8d4z4T7Fion6gA==" />
    <add key="monitoredDbName" value="testdb" />
    <add key="monitoredCollectionName" value="sourcecollection" />
    <add key="monitoredThroughput" value="10000" />

    <!--Mongo source account
    new staging account    -->
    <!--<add key="monitoredUri" value="https://staging-halo-cosmosdb.documents.azure.com:443" />
    <add key="monitoredSecretKey" value="YOSBvFxKoB5qJjumvPWL2Pgum1UBPPbmdoa2NQvz6W8mDdGM4noJOxlp1L8d6yggQvpj3Mdxp9lJSo6Flwzfrw==" />
    <add key="monitoredDbName" value="halostaging" />
    <add key="monitoredCollectionName" value="DeviceData" />
    <add key="monitoredThroughput" value="10000" />-->

    <!--Sql API Lease account, must be sql and has to created programatically
    since portal doesn't support fixed collections. Please note that it costs extra-->
    <add key="leaseUri" value="https://fabianm-rtlnl-lease-cdb.documents.azure.com:443/" />
    <add key="leaseSecretKey" value="hpfTvUAp4nMfPTrhIl9h470aMgFRqrKYtvhr8sR3Zuklxfr5E0TNW7nrA3FmXOhIE0nZ6H6V9MZTr42Ak34VdA==" />
    <add key="leaseDbName" value="leasedb" />
    <add key="leaseCollectionName" value="leasecollection3" />
    <add key="leaseThroughput" value="10000" />

    <!--Applies only if the destination is SQL API-->
    <!--<add key="destUri" value="https://halotest.documents.azure.com:443" />
    <add key="destSecretKey" value="<YourKey>" />
    <add key="destDbName" value="test" />
    <add key="destCollectionName" value="d3" />
    <add key="destThroughput" value="10000" />-->

    <!--Blob stroage connection string-->
    <!--failed documents and parser error documents pushed here-->
    <add key="storageConnStr" value="DefaultEndpointsProtocol=https;AccountName=fabianmrtlnlstorage;AccountKey=m+qyxr2HIGrw5fapr8IKjtgq9NbZQDA+Rj03LDJ1UJBKnwEyBYk64JA5ud54h80ThzlDcDboZSjlQ4rgFFkjpA==;EndpointSuffix=core.windows.net" />

    <!--Event hub connection string-->
    <add key="destEhConnStr" value="" />

    <!--Specify destination type
    Supported types: CosmosDB,EventHub,MongoDB-->
    <add key="destinationType" value="MongoDB" />

     <!--Create collections if not exists
         This must be true since we can't create fix collection for lease in portal-->
    <add key="devMode" value="true" />

    <!-- This setting is irrelevant for MongoDB Destination - will always ingest document by document in this case-->
    <add key="isBulkIngestion" value="false" />

    <!--Change feed settings-->

    <!--To use less RUS on the source collecton set less number of documents
    based on the size of the doc size-->
    <add key="cfMaxItemCount" value="10" />

    <add key="cfLeaseRenewIntervalInSecs" value="1" />

    <!--Ignore related to data simulation-->
    <add key="simulateData" value="true" />

    <!--Mongo destination collection-->
    <add key="mongodestDbName" value="testdb" />
    <add key="mongodestCollectionName" value="newautopilotcollection" />
    <add key="insertRetries" value="7" />
    <add key="dest-conn" value="mongodb://fabianm-rtlnl-cdb:i5alC8hrTwTAop7Xxi02ErH4v2Zd0uEM3i0ovh5iJrjMGSqMiraZayjfRoO8fbTdYZYp3CyC8d4z4T7Fion6gA==@fabianm-rtlnl-cdb.documents.azure.com:10255/?ssl=true&amp;replicaSet=globaldb"></add>
    <add key="schema" value="new" /> <!--"old"-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1.0" newVersion="8.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.6.14301" newVersion="3.19.6.14301" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.6.14301" newVersion="3.19.6.14301" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>